.dropshadow {
    box-shadow: 0 0 20px rgba(0,0,0,.5);

    &.depth-1 {
        box-shadow: 0 0 40px rgba(0,0,0,.6);
    }

    &.depth-2 {
        box-shadow: 0 0 60px rgba(0,0,0,.7);
    }

    &.depth-3 {
        box-shadow: 0 0 80px rgba(0,0,0,.8);
    }

    &.depth-4 {
        box-shadow: 0 0 100px rgba(0,0,0,.9);
    }

    &.depth-5 {
        box-shadow: 0 0 120px rgba(0,0,0,1);
    }
}